body{

font-family:Arial;

background-color:#d9f3ff;

}

.login-box{

width:300px;

background:white;

padding:30px;

margin:auto;

margin-top:100px;

border-radius:10px;

text-align:center;

}

input{

width:90%;

padding:10px;

margin:10px;

}

button{

padding:10px 20px;

background-color:blue;

color:white;

border:none;

border-radius:5px;

}
select{

width:90%;

padding:10px;

margin:10px;

}